name: Hello World

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: environment
        description: '環境を選択してください (develop / staging / production)'
        default: 'develop'

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello World!"